.header {
  text-align: center;
  padding: 0 20px;
}

.a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.h1 {
  text-align: center;
  padding: 20px 0;
  display: inline-flex;
  align-items: center;
}

.badge {
  width: 2em;
  height: 2em;
  flex-shrink: 0;
}
