.graph {
  height: 20px;

  &[data-color='yellow'] {
    background-color: var(--color-yellow);
  }

  &[data-color='red'] {
    background-color: var(--color-red);
  }

  &[data-color='blue'] {
    background-color: var(--color-blue);
  }
}
