.wrapper {
  padding: 0 20px 20px;
  overflow: hidden;
}

.itemContainer {
  max-width: var(--contents-width);
  margin: 20px auto 0;
  padding-top: 20px;
  border-top: 1px solid var(--bg-color-lv4);
  display: grid;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  margin: 0 auto;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-lv2);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: var(--color-white);
  text-align: center;
  font-weight: 500;

  @media (min-width: 768px) {
    &:nth-child(-n+3) {
      grid-column: span 2;
    }
  }

  @media (max-width: 767px) {
    &:nth-child(-n+3) {
      grid-column: span 2;
    }
  }

  &:hover {
    text-decoration: none;
    z-index: var(--z-layer);
  }

  p {
    padding: 4px;
    background-color: var(--bg-color-lv3);
  }

  &:nth-child(1) p {
    background-color: #ff3848;
  }

  &:nth-child(2) p {
    background-color: #f87841;
  }

  &:nth-child(3) p {
    background-color: #f1c039;
  }
}

.sortContainer {
  max-width: var(--contents-width);
  margin: 0 auto 20px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-color-lv2);
  border-radius: var(--border-radius);
}

.sortItem {
  position: relative;

  svg {
    pointer-events: none;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 16px;
    margin: auto;
    z-index: var(--z-layer);
    transition: 0.2s;
    fill: var(--color-yellow);
  }

  &[data-direction="desc"] svg {
    transform: rotate(-180deg);
  }
}

.sortButton {
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font: inherit;
  background-color: transparent;
  color: var(--bg-color-lv4);
  border: none;
  padding: 6px 20px;
  transition: 0.2s;

  [data-is-selected="true"] & {
    padding-left: calc(24px + 1em);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color-lv4);
    font-weight: 500;
    color: var(--color-white);
  }
}
