@mixin z-map($z-map) {
  $before-index: -1;

  @each $name, $value in $z-map {
    $result-z: null;

    @if $value == auto {
      $result-z: $before-index + 1;
    } @else {
      $result-z: $value;
    }

    $before-index: $result-z;

    #{$name}: $result-z;
  }
}

:root {
  // font settings
  --line-height: 1.875;
  --line-height-heading: 1.5;
  --font-family-en: "Poppins", sans-serif;
  --font-family-jp: "Noto Sans JP", sans-serif;

  // colors
  --color-white: #eee;
  --color-yellow: #fed94f;
  --color-blue: #6956dc;
  --color-red: #d6636b;

  // bg-colors
  --bg-color-lv1: #1c2135;
  --bg-color-lv2: #202940;

  // etc
  --contents-width: 1200px;
  --box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  --vh: 1vh;
  --border-radius: 4px;

  @include z-map((
    --z-init: auto,
    --z-layer: auto,
    --z-layer2  : auto,
  ));
}
